<span class="user_info">
  <span ng-show="userServiceInfo">
    <span ng-show="userServiceInfo.currentUser">
      Hi {{ userServiceInfo.currentUser.email }}
      <a ng-href="{{ userServiceInfo.logoutUrl }}">Logout</a>
    </span>
    <span ng-hide="userServiceInfo.currentUser">
      <a ng-href="{{ userServiceInfo.loginUrl }}">Login</a>
    </span>

  </span>
  <span ng-hide="userServiceInfo">
    <img src="/img/ajax-loader.gif">
    Retrieving the user information...
  </span>
</span>

<h2>Showing the guestbook: {{ currentGuestbookName }}</h2>
<div>
  <p>
  <form ng-submit="submit_form()">
    Message:<br>
    <textarea name="content" rows="5" cols="100" ng-model="content"></textarea><br>
    Guestbook Name:
    <input type="text" name="guestbookName" ng-model="guestbookName"><br>
    <input type="submit" value="Submit" name="submit">
  </form>
  </p>
</div>

<span ng-hide="!!greetings">
  <img src="/img/ajax-loader.gif">
  Retrieving the data...
</span>
<ul ng-show="greetings">
  <li ng-repeat="greeting in greetings">
    <span ng-bind-html="greeting.content | nl2br"></span>
    at {{ greeting.date }} by {{ greeting.author }}
  </li>
</ul>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cadastrar Matérias</h3>
  </div>
  <div class="panel-body" ng-controller="MateriasCtrl">
   <div class="input-group"  style="padding: 5px">
  <span  class="input-group-addon" id="basic-addon1">Nome</span>
  <input ng-model="nome" type="text" class="form-control" placeholder="Nome Matéria" aria-describedby="basic-addon1">
</div>

  
   <div class="input-group" style="padding: 5px">
  <span class="input-group-addon" id="basic-addon1">Descrição</span>
  
  <textarea ng-model="descricao" type="text" class="form-control" placeholder="Descrição Matéria" aria-describedby="basic-addon1"></textarea>

</div>
	<div class="btn-group" style="margin-left: 5px">
		<button ng-click="sayHello()" type="button" class="btn btn-primary btn-sm">Enviar</button>
	</div>

	<div class="btn-group" style="margin-left: 5px">
		<button type="button" class="btn btn-primary btn-sm">Limpar</button>
	</div>
  </div>
</div>
